
.main-content {
	background-color: #162728;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	margin-left: 70px;
    display: flex;
    position: fixed;
    justify-content: center;
	align-items: center;
    text-align: center;
}

.main {
    width: 90vw;
    display: flex;
}
.side-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    background-color: #1B3E40; /* Light gray background for side profile */
    border-radius: 10px;
    color: #FFFFFF;
}

.side-profile img.profile-big {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.side-profile .description {
    text-align: center;
    margin: 10px 0;
}
.text-block{
    display: flex;
}
.side-profile .text-block span {
    display: block;
    margin: 5px 0;
}

.side-profile button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff; /* Blue background for buttons */
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.stats-history {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #FFFFFF;
    padding: 20px;
}

.topic {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.topic .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.stats2 {
    display: flex;
    flex-direction: column;
    
}

.percentages {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #1B3E40; /* White background for stats sections */
    border-radius: 10px;
}

.stats-head {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stat {
    text-align: center;
}

.graphs {
    display: flex;
    justify-content: space-around;
}

.graph1, .graph2, .graph3, .graph4 {
    width: 100px;
    height: 100px;
    background-color: #1B3E40; /* Light gray background for graphs */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.numbers-stat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.numbers-stat h4 {
    margin: 0;
}