.main-content {
	background-color: #1D2731;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	margin-left: 3vw;
    display: flex;
    position: fixed;
    justify-content: center;
	align-items: center;
    text-align: center;
}

.main {
    width: 90vw;
}

.icon {
    height: 32px;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;
}


.leaderboard {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
    padding-right: 5vw;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stats2 {
    display: flex;
    align-items: center;
    height: 127px;
}

.stat {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f20a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    align-items: center;
    height: 87px;
    width: 127px;
    margin-right: 1vw;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stat-img {
    width: 36px;
    height: 36px;
}
.under-title {
    color: #D9D9D9;
    font-size: small;
}
.rank {
    font-size: larger;
    font-weight: bolder;
    color: #E65C19;
}

.profile-square {
    background-color: #D9D9D9;
    width: 127px;
    height: 127px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.avail-tournaments {
    display: flex;
    justify-content: space-between;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f20a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 127px;
}

.profile-winner {
    padding: 15px;
}

.profile-pic2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.first {
    border: 2px solid #DBB635;
}
.first2 {
    color: #DBB635;
}

.second {
    border: 2px solid #D9D9D9;
}
.second2 {
    color: #D9D9D9;
}

.third {
    border: 2px solid #AC5024;
}
.third2 {
    color: #AC5024;
}

.friend-info h4 {
    margin: 0;
}

.tournament-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.numbers {
    color: #f2f2f20a;
}

#nbr2 {
    padding-right: 67%;
}

#nbr3 {
    padding-left: 67%;
}

.friend-info .victories {
    margin: 0;
    font-size: x-small;
    color: #D9D9D9;

}

.icon-title3 {
    margin-left: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.topic {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tournament-button .tournament2 {
    background: none;
    border: none;
    cursor: pointer;
}

.tournament-avail {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f20a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-head {
    display: flex;
    justify-content: space-evenly;
    color: #8C8C8C;
}

.table-content {
    display: flex;
    justify-content: space-between;
    color: #f2f2f20a;
}

.host {
    display: flex;
    align-items: center;
}