{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <div class="login-container">
        <div class="login-container2">
            <h4 class="title" ><img src="{% static 'assets/icons/42logosmall.png' %}"> My Website</h4>
            <h2 class="title" >Set new password</h2>
            <h6 class="title" >Must have at least 8 characters</h6>
            
            <form id="loginForm" method="POST" href="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group password-group">
                    <label id= "password2" for="password">New Password</label>
                    <input type="password" id="password" name="password" placeholder="Password"  required>
                    <button type="button" id="togglePassword">
                        <img id="togglePasswordImage" src="{% static '/assets/icons/eyeopen.png' %}">
                    </button>
                </div>
				<div class="input-group password-group">
                    <label id= "reconfirm2" for="reconfirm">Confirm New Password</label>
                    <input type="password" id="reconfirm" name="reconfirm" placeholder="Password"  required>
                    <button type="button" id="togglereconfirm">
                        <img id="togglereconfirmImage" src="{% static '/assets/icons/eyeopen.png' %}">
                    </button>
                </div>             
                <button type="submit">Reset Password</button>
            </form>
            <h6>© 42 Porto 2024</h6>
        </div>
    </div>

{% endblock %}
    
