django
tzdata
psycopg2-binary
Pillow
django-rest-swagger
setuptools
drf-yasg
icecream
djangorestframework
django-bootstrap4
channels_redis
requests
python-dotenv
django-crispy-forms
crispy-bootstrap4
django-two-factor-auth 
django-two-factor-auth[phonenumbers]