django
djangorestframework
gunicorn
python-dotenv
crispy-bootstrap4
tzdata
psycopg2-binary
Pillow
setuptools

django-redis
channels_redis

requests
django-otp
djangorestframework_simplejwt
pyotp
PyJWT
django-cors-headers

icecream