
<!-- 
{% extends 'base.html' %}
{% load static %}

{% block styles-friend-bar %}
    <link rel="stylesheet" href="{% static 'css/home-view.css' %}">
    {% block styles-friend-block %}
    {% endblock %}

{% endblock %}

{% block home-view %}
        <div class="main-content">
        <div class="main">
            <div class="local options">
                <button class="main-button"></button>
                <h3>LOCAL</h3>
                <p>Share your keyboard with a friend and play on the same computer!</p>
            </div>
            <div class="online options">
                <button class="main-button"></button>
                <h3>ONLINE</h3>
                <p>Compete against players across the world. The better you are, the tougher your opponent will be!</p>
            
            </div>
        </div>
    </div>
{% endblock %}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home-view.css">
    <link rel="stylesheet" href="../css/friend-bar.css">
    <link rel="stylesheet" href="../css/friend-block.css">
    <link rel="stylesheet" href="../css/top-bar.css">
    <link rel="stylesheet" href="../css/side-menu.css">

	<script defer src="../js/friends.js"></script>
	<script defer src="../js/friend-block.js"></script>
    <script defer src="../js/navs.js"></script>
    
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="local options">
                <button class="main-button"></button>
                <h3>LOCAL</h3>
                <p>Share your keyboard with a friend and play on the same computer!</p>
            </div>
            <div class="online options">
                <button class="main-button"></button>
                <h3>ONLINE</h3>
                <p>Compete against players across the world. The better you are, the tougher your opponent will be!</p>

            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search for friends...">
            <button type="button" id="searchButton">
                <img id="search-icon" src="../assets/icons/binoculars.png">
            </button>
        </div>
        <div class="top-right">
            <img class="bell-icon" src="../assets/icons/Doorbell.png">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
        </div>
    </div>
    <div class="left-div" id="left-div">
        <button class="select-item expandable-section" onclick="toggleLeftDiv()">
            <img class="icon2" src="../assets/icons/logo2.png" alt="Ping Pong">
            <span class="icon-title2 bold">Pong Game</span>
        </button>
        <div class="selects">
            <button class="select-item">
                <img class="icon" src="../assets/icons/pingpong.png" alt="Ping Pong">
                <span class="icon-title">Singles</span>
            </button>
            <button class="select-item">
                <img class="icon" src="../assets/icons/tournament.png" alt="Tournament">
                <span class="icon-title">Tournament</span>
            </button>
            <button class="select-item" onclick="window.location.href='profile.html'">
                <img class="icon" src="../assets/icons/user.png" alt="User">
                <span class="icon-title">User</span>
            </button>
            <button class="select-item logout-icon">
                <img class="icon" src="../assets/icons/logout.png" alt="logout">
                <span class="icon-title">Logout</span>
            </button>
        </div>
    </div>
	<button class="toggle-button" id="toggle-button" onclick="toggleSidebar()">
		<img src="../assets/icons/puxador.png">
	</button>
	<div class="sidebar" id="sidebar">
        <div class="friend-block" id="friend1" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend2" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend3" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
    </div>
</body>
</html>