
<!-- 
{% extends 'base.html' %}
{% load static %}

{% block styles-tournament %}
    <link rel="stylesheet" href="{% static 'css/tournament.css' %}">
    {% block styles-friend-block %}
    {% endblock %}

{% endblock %}

{% block tournament %}
    <div class="main-content non_compressed"  id="main-content">
        <div class="main">
            <div class="top">
                <div class="leaderboard">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/laurel.png" alt="laurel">
                        <span class="icon-title3">Leaderboard</span>
                    </div>
                    <div class="results">
                        <div class="profile-winner">
                            <img  class="profile-pic2 first" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="first2" >#1 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 second" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="second2" >#2 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 third" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="third2" >#3 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/chart.png" alt="chart">
                        <span class="icon-title3">Your Stats</span>
                    </div>
                    <div class="stats2">
                        <div class="profile-square">
                            <img  class="profile-pic2" src="../assets/icons/avatar.png" alt="Profile">
                        </div>
                        <div class="podium">
                            <div class="tournament-info">
                                <span class="numbers" id="nbr2">30</span>
                                <span class="numbers" id="nbr1">30</span>
                                <span class="numbers" id="nbr3">30</span>
                                <img  class="podium-img" src="../assets/icons/podium.png" alt="Podium">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot">
                <div class="avail-tournaments">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/tournament.png" alt="tournament">
                        <span class="icon-title3">Available Tournaments</span>
                    </div>
                    <div class="tournament-button">
                        <button class="tournament2">
                            <img class="icon" src="../assets/icons/tournament-button.png" alt="Button">
                        </button>
                    </div>
                </div>
                <div class="tournament-avail">
                    <div class="table-head">
                        <h4 class="table-title">Name</h4>
                        <h4 class="table-title">Host</h4>
                        <h4 class="table-title">Players registered</h4>
                        <h4 class="table-title">Action</h4>
                    </div>
                    <div class="table-content">
                        <h4 class="table-info">Tournament Name</h4>
                        <div class="host">
                            <img class="icon" src="../assets/icons/crown.png" alt="crown">
                            <h4 class="able-info">Host</h4>
                        </div>
                        <div class="host">
                            <img class="icon" src="../assets/icons/user.png" alt="user">
                            <h4 class="able-info">x/16</h4>
                        </div>
                        <h4 class="table-info">Register</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <script src="{% static 'js/htmx/htmx.min.js' %}"></script>

    <link rel="stylesheet" href="../backend/static/css/ongoing-tourn.css">
    <link rel="stylesheet" href="../backend/static/css/friend-bar.css">
    <link rel="stylesheet" href="../backend/static/css/friend-block.css">
    <link rel="stylesheet" href="../backend/static/css/top-bar.css">
    <link rel="stylesheet" href="../backend/static/css/side-menu.css">

	<script defer src="../backend/static/js/friends.js"></script>
	<script defer src="../backend/static/js/friend-block.js"></script>
    <script defer src="../backend/static/js/navs.js"></script>
    <script defer src="../backend/static/js/ongoing-tourn.js"></script>
    
</head>
<body>
    <div class="main-content non_compressed"  id="main-content">
        <div class="main">
            <div class="round round-1">
                <div class="matchup">
                    <h1 class="group">Group A</h1>
                    <div class="player" id="player1" onclick="advancePlayer(1)">
                        <img src="../backend/static/assets/icons/avatar.png" alt="Player 1" class="icon">
                        <span class="name">Player 1</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="player" id="player2" onclick="advancePlayer(2)">
                        <img src="../backend/static/assets/icons/avatar.png" alt="Player 2" class="icon">
                        <span class="name">Player 2</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="matchup">
                    <h1 class="group">Group B</h1>
                    <div class="player" id="player3" onclick="advancePlayer(3)">
                        <img src="../backend/static/assets/icons/avatar.png" alt="Player 3" class="icon">
                        <span class="name">Player 3</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="player" id="player4" onclick="advancePlayer(4)">
                        <img src="../backend/static/assets/icons/avatar.png" alt="Player 4" class="icon">
                        <span class="name">Player 4</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="round round-2">
                <div class="matchup">
                    <div class="player" id="semi1">
                        <img src="" alt="Semi 1" class="icon">
                        <span class="name">Group A Winner</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="player" id="semi2">
                        <img src="" alt="Semi 2" class="icon">
                        <span class="name">Group B Winner</span>
                        <div class="score2">
                            <span class="score">0</span>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="round round-3">
                <div class="matchup">
                    <div class="player" id="final">
                        <span class="name">Tournament Winner</span>
                        <img src="../backend/static/assets/icons/trophy.png" alt="Final Winner" class="icon">
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search for friends...">
            <button type="button" id="searchButton">
                <img id="search-icon" src="../backend/static/assets/icons/binoculars.png">
            </button>
        </div>
        <div class="top-right">
            <img class="bell-icon" src="../backend/static/assets/icons/Doorbell.png">
            <img  class="profile-pic" src="../backend/static/assets/icons/avatar.png" alt="Profile">
        </div>
    </div>
    <div class="left-div" id="left-div">
        <button class="select-item expandable-section" onclick="toggleLeftDiv()">
            <img class="icon2" src="../backend/static/assets/icons/logo2.png" alt="Ping Pong">
            <span class="icon-title2 bold">Pong Game</span>
        </button>
        <div class="selects">
            <button class="select-item">
                <img class="icon" src="../backend/static/assets/icons/pingpong.png" alt="Ping Pong">
                <span class="icon-title">Singles</span>
            </button>
            <button class="select-item">
                <img class="icon" src="../backend/static/assets/icons/tournament.png" alt="Tournament">
                <span class="icon-title">Tournament</span>
            </button>
            <button class="select-item" onclick="window.location.href='profile.html'">
                <img class="icon" src="../backend/static/assets/icons/user.png" alt="User">
                <span class="icon-title">User</span>
            </button>
            <button class="select-item logout-icon">
                <img class="icon" src="../backend/static/assets/icons/logout.png" alt="logout">
                <span class="icon-title">Logout</span>
            </button>
        </div>
    </div>
	<button class="toggle-button" id="toggle-button" onclick="toggleSidebar()">
		<img src="../backend/static/assets/icons/puxador.png">
	</button>
	<div class="sidebar" id="sidebar">
        <div class="friend-block" id="friend1" data-status="online">
            <img  class="profile-pic" src="../backend/static/assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend2" data-status="online">
            <img  class="profile-pic" src="../backend/static/assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend3" data-status="online">
            <img  class="profile-pic" src="../backend/static/assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
    </div>
</body>
</html>