
<!-- 
{% extends 'base.html' %}
{% load static %}

{% block styles-tournament %}
    <link rel="stylesheet" href="{% static 'css/tournament.css' %}">
    {% block styles-friend-block %}
    {% endblock %}

{% endblock %}

{% block tournament %}
    <div class="main-content non_compressed"  id="main-content">
        <div class="main">
            <div class="top">
                <div class="leaderboard">
                    <div class="topic">
                        <img class="icon" src="{% static 'assets/icons/laurel.png' %}" alt="laurel">
                        <span class="icon-title3">Leaderboard</span>
                    </div>
                    <div class="results">
                        <div class="profile-winner">
                            <img  class="profile-pic2 first" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                            <div class="friend-info">
                                <h4 class="first2" >#1 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 second" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                            <div class="friend-info">
                                <h4 class="second2" >#2 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 third" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                            <div class="friend-info">
                                <h4 class="third2" >#3 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="topic">
                        <img class="icon" src="{% static 'assets/icons/chart.png' %}" alt="chart">
                        <span class="icon-title3">Your Stats</span>
                    </div>
                    <div class="stats2">
                        <div class="stat podium">
                            <img  class="stat-img" src="{% static 'assets/icons/leaderboard.png' %}" alt="Current Rank">
                            <span class="under-title">Current Rank</span>
                            <span class="rank">1st</span>
                        </div>
                        <div class="stat played">
                            <img  class="stat-img" src="{% static 'assets/icons/pingpong-full.png' %}" alt="Nbr games">
                            <span class="under-title">Played Tournaments</span>
                            <span class="rank">190</span>
                        </div>
                        <div class="stat tournament-won">
                            <img  class="stat-img" src="{% static 'assets/icons/trophy.png' %}" alt="Nbr tournament">
                            <span class="under-title">Won Tournaments</span>
                            <span class="rank">11</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot">
                <div class="avail-tournaments">
                    <div class="topic">
                        <img class="icon" src="{% static 'assets/icons/tournament.png' %}" alt="tournament">
                        <span class="icon-title3">Available Tournaments</span>
                    </div>
                    <div class="tournament-button">
                        <button class="tournament2">
                            <img class="icon" src="{% static 'assets/icons/tournament-button.png' %}" alt="Button">
                        </button>
                    </div>
                </div>
                <div class="tournament-avail">
                    <div class="table-head">
                        <h4 class="table-title">Name</h4>
                        <h4 class="table-title">Status</h4>
                        <h4 class="table-title">Host</h4>
                        <h4 class="table-title">Players registered</h4>
                        <h4 class="table-title">Action</h4>
                    </div>
                    <div class="table-content">
                        <h4 class="table-info">Tournament Name</h4>
                        <h4 class="table-info">Status</h4>
                        <h4 class="table-info">Host</h4>
                        <h4 class="table-info">x/16</h4>
                        <h4 class="table-info">Register</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    
    <link rel="stylesheet" href="../css/tournament.css">
    <link rel="stylesheet" href="../css/friend-bar.css">
    <link rel="stylesheet" href="../css/friend-block.css">
    <link rel="stylesheet" href="../css/top-bar.css">
    <link rel="stylesheet" href="../css/side-menu.css">

	<script defer src="../js/friends.js"></script>
	<script defer src="../js/friend-block.js"></script>
    <script defer src="../js/navs.js"></script>
    
</head>
<body>
    <div class="main-content non_compressed"  id="main-content">
        <div class="main">
            <div class="top">
                <div class="leaderboard">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/laurel.png" alt="laurel">
                        <span class="icon-title3">Leaderboard</span>
                    </div>
                    <div class="results">
                        <div class="profile-winner">
                            <img  class="profile-pic2 first" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="first2" >#1 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 second" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="second2" >#2 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                        <div class="profile-winner">
                            <img  class="profile-pic2 third" src="../assets/icons/avatar.png" alt="Profile">
                            <div class="friend-info">
                                <h4 class="third2" >#3 Name</h4>
                                <span class="victories">x tournaments won</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/chart.png" alt="chart">
                        <span class="icon-title3">Your Stats</span>
                    </div>
                    <div class="stats2">
                        <div class="stat podium">
                            <img  class="stat-img" src="../assets/icons/leaderboard.png" alt="Current Rank">
                            <span class="under-title">Current Rank</span>
                            <span class="rank">1st</span>
                        </div>
                        <div class="stat played">
                            <img  class="stat-img" src="../assets/icons/pingpong-full.png" alt="Nbr games">
                            <span class="under-title">Played Tournaments</span>
                            <span class="rank">190</span>
                        </div>
                        <div class="stat tournament-won">
                            <img  class="stat-img" src="../assets/icons/trophy.png" alt="Nbr tournament">
                            <span class="under-title">Won Tournaments</span>
                            <span class="rank">11</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot">
                <div class="avail-tournaments">
                    <div class="topic">
                        <img class="icon" src="../assets/icons/tournament.png" alt="tournament">
                        <span class="icon-title3">Available Tournaments</span>
                    </div>
                    <div class="tournament-button">
                        <button class="tournament2">
                            <img class="icon" src="../assets/icons/tournament-button.png" alt="Button">
                        </button>
                    </div>
                </div>
                <div class="tournament-avail">
                    <div class="table-head">
                        <h4 class="table-title">Name</h4>
                        <h4 class="table-title">Status</h4>
                        <h4 class="table-title">Host</h4>
                        <h4 class="table-title">Players registered</h4>
                        <h4 class="table-title">Action</h4>
                    </div>
                    <div class="table-content">
                        <h4 class="table-info">Tournament Name</h4>
                        <h4 class="table-info">Status</h4>
                        <h4 class="table-info">Host</h4>
                        <h4 class="table-info">x/16</h4>
                        <h4 class="table-info">Register</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search for friends...">
            <button type="button" id="searchButton">
                <img id="search-icon" src="../assets/icons/binoculars.png">
            </button>
        </div>
        <div class="top-right">
            <img class="bell-icon" src="../assets/icons/Doorbell.png">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
        </div>
    </div>
    <div class="left-div" id="left-div">
        <button class="select-item expandable-section" onclick="toggleLeftDiv()">
            <img class="icon2" src="../assets/icons/logo2.png" alt="Ping Pong">
            <span class="icon-title2 bold">Pong Game</span>
        </button>
        <div class="selects">
            <button class="select-item">
                <img class="icon" src="../assets/icons/pingpong.png" alt="Ping Pong">
                <span class="icon-title">Singles</span>
            </button>
            <button class="select-item">
                <img class="icon" src="../assets/icons/tournament.png" alt="Tournament">
                <span class="icon-title">Tournament</span>
            </button>
            <button class="select-item" onclick="window.location.href='profile.html'">
                <img class="icon" src="../assets/icons/user.png" alt="User">
                <span class="icon-title">User</span>
            </button>
            <button class="select-item logout-icon">
                <img class="icon" src="../assets/icons/logout.png" alt="logout">
                <span class="icon-title">Logout</span>
            </button>
        </div>
    </div>
	<button class="toggle-button" id="toggle-button" onclick="toggleSidebar()">
		<img src="../assets/icons/puxador.png">
	</button>
	<div class="sidebar" id="sidebar">
        <div class="friend-block" id="friend1" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend2" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
        <div class="friend-block" id="friend3" data-status="online">
            <img  class="profile-pic" src="../assets/icons/avatar.png" alt="Profile">
            <div class="friend-info">
                <h4>User Name</h4>
                <span class="status">Status</span>
            </div>
        </div>
    </div>
</body>
</html>