{% extends 'navs.html' %}
{% load static %}


{% block main_content %}
<link rel="stylesheet" href="{% static 'css/game-stats.css' %}">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script defer src="{% static 'js/game-stats.js' %}"></script>
<div class="main-content d-flex justify-content-center align-items-center non_compressed"  id="main-content">
    <div class="main d-flex" id="main-wrapper">
        <div class="main d-flex flex-column" id="profile-main">
            <div class="profile-head d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <img src="{% static 'assets/icons/avatar.png' %}">
                    <span style="margin-top: 5px;"> Username</span>
                </div>
                <div class="scoreboard d-flex align-items-center justify-content-center flex-column">
                    <!--{% if xxxx == VICTORY %}
                        <span class="winr">VICTORY</span>
                    {% else %}-->
                    <!--{% endif %}-->
                    <span>DEFEAT</span>
                    <span>7 - 3</span>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <img src="{% static 'assets/icons/avatar.png' %}">
                    <span style="margin-top: 5px;"> Username</span>
                </div>
            </div>
            <div class="profile-foot d-flex align-items-center">
                <div class="bar-graphs d-flex flex-column align-items-center">
                    <h6 class="graph-title" style="color:#fff;padding: 30px;padding-bottom: 10px;">Score History</h6>
                    <div id="chart"></div>
                </div>
                <div class="averages d-flex flex-column justify-content-around">
                    <div class="records d-flex flex-column align-items-center justify-content-center" style="margin-top: 0;">
                        <h6 class="records-title">Rally Length per Goal</h6>
                        <div class="squares d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">40</div>
                                <span>1</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">20</div>
                                <span>2</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">5</div>
                                <span>3</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">44</div>
                                <span>4</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">57</div>
                                <span>5</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">11</div>
                                <span>6</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">64</div>
                                <span>7</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">90</div>
                                <span>8</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-length">0</div>
                                <span>9</span>
                            </div>
                        </div>
                        <div class="rally-len d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'assets/icons/rally-len.png' %}">
                                <div class="grey-line"></div>
                            </div>
                            <div class="minutes">
                                <h6 class="winr">5</h6>
                                <span> Min</span>
                            </div>
                            <div class="average">
                                <h6 class="winr">43</h6>
                                <span> Average</span>
                            </div>
                            <div class="max">
                                <h6 class="winr">90</h6>
                                <span>Max</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="records d-flex flex-column align-items-center justify-content-center"  style="margin-bottom: 0;">
                        <h6 class="records-title">Ball Speed per Goal</h6>
                        <div class="squares d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">40</div>
                                <span>1</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">20</div>
                                <span>2</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">5</div>
                                <span>3</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">44</div>
                                <span>4</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">57</div>
                                <span>5</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">11</div>
                                <span>6</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">64</div>
                                <span>7</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">90</div>
                                <span>8</span>
                            </div>
                            <div class="d-flex align-items-center flex-column">
                                <div class="square-speed">0</div>
                                <span>9</span>
                            </div>
                        </div>
                        <div class="ball-speed d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'assets/icons/ball-speed.png' %}">
                                <div class="grey-line"></div>
                            </div>
                            <div class="minutes">
                                <h6 class="winr">5</h6>
                                <span> Min</span>
                            </div>
                            <div class="average">
                                <h6 class="winr">43</h6>
                                <span> Average</span>
                            </div>
                            <div class="max">
                                <h6 class="winr">90</h6>
                                <span>Max</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="performance d-flex flex-column justify-content-around">
                    <div class="records d-flex numbers-stat justify-content-center"  style="margin-top: 0;">
                        <h6 class="record-title">Greateast Deficit Overcome</h6>
                        <h6 class="record-sub">Who bounced back the most goals.</h6>
                        <div class="record-info d-flex justify-content-between align-items-center">
                            <div class="img-tit d-flex align-items-center">
                                <img src="{% static 'assets/icons/avatar.png' %}" alt="The one">
                                <h6 class="name">Username</h6>
                            </div>
                            <h6 class="winr"> 3 </h6>
                        </div>
                    </div>
                    <div class="records d-flex numbers-stat justify-content-center">
                        <h6 class="record-title">Most Consecutive Goals</h6>
                        <h6 class="record-sub">Who scored more goals in a row.</h6>
                        <div class="record-info d-flex justify-content-between align-items-center">
                            <div class="img-tit d-flex align-items-center">
                                <img src="{% static 'assets/icons/avatar.png' %}" alt="The one">
                                <h6 class="name">Username</h6>
                            </div>
                            <h6 class="winr"> 3 </h6>
                        </div>
                    </div>
                    <div class="records d-flex numbers-stat justify-content-center"  style="margin-bottom: 0;">
                        <h6 class="record-title">Biggest Lead</h6>
                        <h6 class="record-sub">Who had the biggest goal lead.</h6>
                        <div class="record-info d-flex justify-content-between align-items-center">
                            <div class="img-tit d-flex align-items-center">
                                <img src="{% static 'assets/icons/avatar.png' %}" alt="The one">
                                <h6 class="name">Username</h6>
                            </div>
                            <h6 class="winr"> 3 </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}