{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
<link rel="stylesheet" href="{% static 'css/game/game.css' %}">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
<div class="main-content non_compressed" id="main-content">
	<span id='metadata' data-user-id="{{ user.id }}" data-username="{{ user.username }}"></span>
	<div id="canvas-container"></div>
	<div id="camera"></div>
	<div id="scoreboard" class="d-flex justify-content-center align-items-center">
		<div id="p1"></div>
		<img id="p1-img" src="{% static 'assets/icons/avatar.png' %}" alt="P1 profile">
		<div class="d-flex">
			<div id="p1-score">0</div>
			<div id="p2-score">0</div>
		</div>
		<img id="p2-img" src="{% static 'assets/icons/avatar.png' %}" alt="P2 profile">
		<div id="p2"></div>
	</div>
	<div id="loader-container" class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
		<div id="loader" >
		</div>
		<div id="loading-message">Loading ...</div>
	</div>
</div>

<script type="module">
	import { Application } from '/static/js/game/Application.js';
	import { CONNECTION_TIMEOUT } from '/static/js/game/macros.js';

	const { 
		user1_id: p1 , user2_id: p2, 
		game_id: gameInstance, tournament_id: tourID 
	} = myUser.tournamentGameData;

	console.log(myUser.tournamentGameData);
	if (myUser.gameSocket)
		console.log(myUser.gameSocket.url);

	let connectionTimedOut = true;
	myUser.connectSocket(
		'gameSocket',
		`wss://${window.location.host}/wss/tournaments/${tourID}/games/${gameInstance.id}`,
		(event) => {
			connectionTimedOut = false;
			let app = new Application();
			app.init({ 
				player1Data: {'id': p1.id, 'username': p1.username},
				player2Data: {'id': p2.id, 'username': p2.username},
				gameSocket: myUser.gameSocket,
				tournamentSocket: myUser.tournamentSocket,
				gameType: "Tournament",
				gameID: gameInstance.id,
			});
		}
	);

	setTimeout(() => {
		if (connectionTimedOut) {
			myTournament.onTimeout(gameInstance.id, p1, p2);
			console.log('CONNECTION TIMED OUT');
		}
	}, CONNECTION_TIMEOUT);
</script>
{% endblock %}