{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
<link rel="stylesheet" href="{% static 'css/game/game.css' %}">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
<div class="main-content non_compressed" id="main-content">
	<span id='metadata' data-user-id="{{ user.id }}" data-username="{{ user.username }}"></span>
	<div id="canvas-container" style="width: 100%; height: 100%; z-index: -100;"></div>
	<div id="camera"></div>
	<div id="scoreboard" class="d-flex justify-content-center align-items-center">
		<div id="p1"></div>
		<div id="score">0&nbsp;:&nbsp;0</div>
		<div id="p2"></div>
	</div>
</div>

<script type="module">
	import { Application } from '/static/js/game/Application.js';

	document.getElementById('canvas-container').style.color = '#FFF';
	document.getElementById('scoreboard').style.color = '#FFF';

	const userID = document.getElementById('metadata').getAttribute('data-user-id');
	const username = document.getElementById('metadata').getAttribute('data-username');

	let app = new Application();
	app.init({ 
		player1Data: {'id': userID, 'username': username},
		player2Data: {'id': '', 'username': 'Anonymous'},
		gameType: 'Local' 
	});
	app.render();
</script>

{% endblock %}