{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
<link rel="stylesheet" href="{% static 'css/game/game.css' %}">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
<div class="main-content non_compressed" id="main-content">
	<span id='metadata' data-user-id="{{ user.id }}" data-username="{{ user.username }}"></span>
	<div id="canvas-container" style="width: 100%; height: 100%; z-index: -100;"></div>
	<div id="camera"></div>
	<div id="scoreboard" class="d-flex justify-content-center align-items-center">
		<div id="p1"></div>
		<div id="score">0&nbsp;:&nbsp;0</div>
		<div id="p2"></div>
	</div>
	<div id="loader-container" class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
		<div id="loader"></div>
		<div id="loading-message">Connecting ...</div>
	</div>
</div>

<script type="module">
	import { MyApp } from '/static/js/game/MyApp.js';

	const userID = document.getElementById('metadata').getAttribute('data-user-id');
	const username = document.getElementById('metadata').getAttribute('data-username');

	let gameSocket = new WebSocket(`ws://${window.location.host}/ws/games/remote/queue`);
	gameSocket.onmessage = (event) => {
		document.getElementById('loader-container').remove();
		document.getElementById('canvas-container').style.color = '#FFF';
		document.getElementById('scoreboard').style.color = '#FFF';
		const { player1, player2, ball, gameID } = JSON.parse(event.data);

		let app = new MyApp();
		app.init({player1Data: player1, 
			player2Data: player2,
			gameSocket: gameSocket, 
			gameType: "Remote",
			gameID: gameID,
			ballDirection: ball.direction,
		});
		app.render();
	}
</script>
{% endblock %}