{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
<link rel="stylesheet" href="{% static 'css/game/game.css' %}">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
<div class="main-content non_compressed" id="main-content">
	<span id='metadata' data-user-id="{{ user.id }}" data-username="{{ user.username }}"></span>
	<div id="canvas-container" style="width: 100%; height: 100%; z-index: -100;"></div>
	<div id="camera"></div>
	<div id="scoreboard" class="d-flex justify-content-center align-items-center">
		<div id="p1"></div>
		<div id="score">0&nbsp;:&nbsp;0</div>
		<div id="p2"></div>
	</div>
</div>

<script type="module">
	import { MyApp } from '/static/js/game/MyApp.js';

	const { 
		user1_id: p1 , user2_id: p2, 
		game_id: gameInstance, tournament_id: tourID 
	} = user.tournamentGameData;
	
	console.log('User: ', user);

	user.connectSocket(
		'gameSocket',
		`ws://${window.location.host}/ws/tournaments/${tourID}/games/${gameInstance.id}`,
		(event) => {
			let app = new MyApp();
			app.init({ 
				player1Data: {'id': p1.id, 'username': p1.username},
				player2Data: {'id': p2.id, 'username': p2.username},
				gameSocket: user.gameSocket,
				tournamentSocket: user.tournamentSocket,
				gameType: "Tournament",
				gameID: gameInstance.id,
			});
			app.render();
		}
	);
</script>
{% endblock %}