{% extends 'navs.html' %}
{% load static %}
  
{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/home_view.css' %}">
    <div class="main-content d-flex justify-content-center align-items-center non_compressed"  id="main-content">
        <div class="local options">
            <button class="main-button">
                <a 
                hx-get="{% url 'gamelocal' %}"
                hx-trigger="click"
                hx-target="#main"
                hx-push-url="true">Local</a>
            </button>
            <h3>LOCAL</h3>
            <p>Share your keyboard with a friend and play together on the same computer! </p>
        </div>
		<div class="ai options">
            <button class="main-button">
                <a 
                hx-get="{% url 'gamelocal' %}"
                hx-trigger="click"
                hx-target="#main"
                hx-push-url="true">AI</a>
            </button>
            <h3>AI</h3>
            <p>Try your best and compete against our challenging AI bot! </p>
        </div>
        <div class="online options">
            <button class="main-button">
                <a  
                hx-get="{% url 'gameonline' %}"
                hx-trigger="click"
                hx-target="#main"
                hx-push-url="true">Online</a>
            </button>
            <h3>ONLINE</h3>
            <p>Play against players worldwide. The better you are, the tougher the opponents! </p>

        </div>
    </div>
<script>
window.onload = function () {
    console.log("aqui");
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');  
    const accessToken = urlParams.get('access_token');
    const refreshToken = urlParams.get('refresh_token');

    if (message && accessToken && refreshToken) {
        localStorage.setItem('access_token', accessToken);
        localStorage.setItem('refresh_token', refreshToken);

        history.pushState(null, '', `/home/`);
        htmx.ajax('GET', '/home/', {
            target: '#main',
        });
    } else {
        console.error("Tokens ou mensagem ausente na URL.");
    }
};

</script>
{% endblock %}
