{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <div class="login-container">
        <div class="login-container2">
            <h4 class="title" ><img src="{% static 'assets/icons/42logosmall.png' %}"> My Website</h4>
            <h2 class="title" >Forgot password?</h2>
            <h6 class="title" >No worries, we will send you the reset instructions</h6>
            <form id="loginForm" method="POST" href="{% url 'reset_code' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="username" name="username" placeholder="Enter your email" required>
                </div>              
                <button type="submit"> Reset password </button>
            </form>
            <img class="divider" src="{% static 'assets/icons/divider.png' %}" width="100%">
            
            <button type="submit2"><img src="{% static 'assets/icons/42logosmall.png' %}"> Sign in with 42</button>
            <a class="sign-up" href="{% url 'login' %}">Login</a>
            <br>
            <h6>© 42 Porto 2024</h6>
        </div>
    </div>

{% endblock %}
    
