{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/ongoing-tourn.css' %}">
    <script defer src="{% static 'js/ongoing-tourn.js' %}"></script>
    <div class="main-content d-flex justify-content-center align-items-center non_compressed"  id="main-content">
		<div class="main">
			<div class="tourn-header d-flex align-items-center">
				<div class="tourn-info d-flex flex-column">
					<h1 class="tourn-title">{{ tournament_name }} Name</h1>
					<h3 class="tourn-status">Waiting for players to enter...</h3>
				</div>
				<button style="margin-bottom: 10px; border: none; background: none; margin-left: auto;" class="change modal-button" id="leave-tournament" data-user-id="{{ user_id }}" data-tournament-id="{{ tournament_id }}">
					<img src="{% static 'assets/icons/leave-tournament.png' %}" alt="Leave Tournament">
				</button>
			</div>
			<div id="modal" class="m">
                <div class="m-content d-flex align-items-center flex-column">
                    <h3>Leave Tournament</h3>
					<p>You're about to quit the tournament. Are you sure?</p>
					<div class="bottom-buttons d-flex justify-content-between">
						<button style="margin-bottom: 10px;" class="change modal-button" id="leaver" onclick="leaveTournament()" data-user-id="{{ user_id }}" data-tournament-id="{{ tournament_id }}">
							<span class="change-b" id="change">Yes, I do.</span>
						</button>
						<button style="margin-bottom: 10px; border: none;" class="cancel modal-button" id="cancel">Go back</button>
					</div>
            	</div>
        	</div>
			<div class="all-groups d-flex align-items-center  justify-content-between">

            	<div class="round d-flex align-items-center justify-content-between round-1">
            	    <div class="matchup d-flex align-items-start justify-content-between">
            	        <h1 class="group">Group A</h1>
            	        <div class="player  d-flex align-items-center" id="player1" onclick="advancePlayer(1)">
							<div class="main-core d-flex align-items-center">

								<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 1" class="icon">
								<span class="name">Player 1</span>
							</div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="player  d-flex align-items-center" id="player2" onclick="advancePlayer(2)">
							<div class="main-core d-flex align-items-center"> 
								<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 2" class="icon">
								<span class="name">Player 2</span>
            	            </div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="line"></div>
            	    </div>
            	    <div class="matchup d-flex align-items-start justify-content-between">
            	        <h1 class="group">Group B</h1>
            	        <div class="player  d-flex align-items-center" id="player3" onclick="advancePlayer(3)">
							<div class="main-core d-flex align-items-center">

								<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 3" class="icon">
								<span class="name">Player 3</span>
							</div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="player  d-flex align-items-center" id="player4" onclick="advancePlayer(4)">
							<div class="main-core d-flex align-items-center">

								<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 4" class="icon">
								<span class="name">Player 4</span>
							</div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="line"></div>
            	    </div>
            	</div>

            	<div class="round d-flex align-items-center justify-content-between round-2">
            	    <div class="matchup d-flex align-items-start justify-content-between">
            	        <div class="player  d-flex align-items-center" id="semi1">
							<div class="main-core d-flex align-items-center">

								<img src="" alt="Semi 1" class="icon">
								<span class="name">Group A Winner</span>
							</div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="player  d-flex align-items-center" id="semi2">
							<div class="main-core d-flex align-items-center">

								<img src="" alt="Semi 2" class="icon">
								<span class="name">Group B Winner</span>
							</div>
							<div class="score2">
								<span class="score">0</span>
							</div>
            	        </div>
            	        <div class="line"></div>
            	    </div>
            	</div>

            	<div class="round d-flex align-items-center justify-content-between round-3">
            	    <div class="matchup d-flex align-items-start justify-content-between">
            	        <div class="player  d-flex align-items-center" id="final">
							<div class="main-core d-flex align-items-center">
								<span class="name">Tournament Winner</span>
								<img src="{% static 'assets/icons/trophy.png" alt="Final Winner" class="icon">
							</div>
							<div class="line"></div>
						</div>
					</div>
            	</div>
			</div>
        </div>
    </div>
{% endblock %}
