{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/ongoing-tourn.css' %}">
    <script defer src="{% static 'js/ongoing-tourn.js' %}"></script>
    <div class="main-content d-flex justify-content-center align-items-center non_compressed"  id="main-content">
		<div class="main d-flex justify-content-center">
			<div class="tourn-header d-flex align-items-center">
				<div class="tourn-info d-flex flex-column">
					<h1 class="tourn-title">{{ tournament_name }} Name</h1>
					<h3 class="tourn-status">Waiting for players to enter...</h3>
				</div>
				<button style="margin-bottom: 10px; border: none; background: none; margin-left: auto;" class="change modal-button" id="leave-tournament" data-user-id="{{ user_id }}" data-tournament-id="{{ tournament_id }}">
					<img src="{% static 'assets/icons/leave-tournament.png' %}" alt="Leave Tournament">
				</button>
			</div>
			<div id="modal" class="m">
                <div class="m-content d-flex align-items-center flex-column">
                    <h3 style="padding-top: 10px;">Leave Tournament</h3>
					<p>You're about to quit the tournament. Are you sure?</p>
					<div style="width: 100%;" class="bottom-buttons d-flex justify-content-between">
						<button style="margin-top: 0;" class="change modal-button" id="leaver" onclick="leaveTournament()" data-user-id="{{ user_id }}" data-tournament-id="{{ tournament_id }}">
							<span class="change-b" id="change">Yes, I am.</span>
						</button>
						<button style="margin-top: 0; border: none;" class="cancel modal-button" id="cancel">Go back</button>
					</div>
            	</div>
        	</div>
				{% if tournament_size == 4 %}
					<div class="all-groups d-flex align-items-center  justify-content-between">
            			<div class="round d-flex align-items-center justify-content-between round-1">
            			    <div class="matchup d-flex align-items-start justify-content-between">
            			        <h1 class="group">Group A</h1>
            			        <div class="player  d-flex align-items-center" id="player1">
									<div class="main-core d-flex align-items-center">
										<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 1" class="icon">
										<span class="name">Player 1</span>
									</div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h"></div>
								<div class="line-v-d"></div>
								<div class="line-h2"></div>
            			        <div class="player  d-flex align-items-center" id="player2">
									<div class="main-core d-flex align-items-center"> 
										<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 2" class="icon">
										<span class="name">Player 2</span>
            			            </div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h"></div>
            			    </div>
            			    <div class="matchup d-flex align-items-start justify-content-between">
            			        <h1 class="group">Group B</h1>
            			        <div class="player  d-flex align-items-center" id="player3">
									<div class="main-core d-flex align-items-center">
										<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 3" class="icon">
										<span class="name">Player 3</span>
									</div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h"></div>
								<div class="line-v-d" style="top: 58px;"></div>
								<div class="line-h2"></div>
            			        <div class="player  d-flex align-items-center" id="player4">
									<div class="main-core d-flex align-items-center">

										<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 4" class="icon">
										<span class="name">Player 4</span>
									</div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h"></div>
            			    </div>
            			</div>
            			<div class="round d-flex align-items-center justify-content-between round-2" style=" height:  453px;position: fixed;left: 489px;top: 82px;">
            			    <div class="matchup d-flex align-items-start justify-content-between">
            			        <div class="player  d-flex align-items-center" id="semi1">
									<div class="main-core d-flex align-items-center">
										<img src="" alt="Semi 1" class="icon">
										<span class="name">Group A Winner</span>
									</div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h" style="top: -128px;"></div>
								<div class="line-v-d" style="top: 29px; height: 276px;"></div>
								<div class="line-h2"  style="top: -57px;"></div>
            			        <div class="player  d-flex align-items-center" id="semi2">
									<div class="main-core d-flex align-items-center">
										<img src="" alt="Semi 2" class="icon">
										<span class="name">Group B Winner</span>
									</div>
									<div class="score2">
										<span class="score">0</span>
									</div>
            			        </div>
            			        <div class="line-h" style="top: -128px;"></div>
            			    </div>
            			</div>
            			<div class="round d-flex align-items-center justify-content-between round-3" style="position: absolute;left: 962px;">
            			    <div class="matchup d-flex align-items-start justify-content-between">
            			        <div class="player  d-flex align-items-center" id="final">
									<div class="main-core d-flex align-items-center">
										<img src="" alt="Final Winner" class="icon">
										<span class="name">Tournament Winner</span>
									</div>
									<div class="score2">
										<img src="{% static 'assets/icons/trophy.png' %}" style="width: 20px; height: 20px; margin: 0;" alt="Final Winner" class="icon">

									</div>
								</div>
							</div>
            			</div>
					</div>
					
				{% elif tournament_size == 8 %}
					<div class="all-groups d-flex align-items-center  justify-content-between" style="transform: scale(0.65); transform-origin: center; top: -4%">
					<div class="round d-flex align-items-center justify-content-between round-1">
						<div class="matchup d-flex align-items-start justify-content-between">
							<h1 class="group">Group A</h1>
							<div class="player  d-flex align-items-center" id="player1">
								<div class="main-core d-flex align-items-center">
									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 1" class="icon">
									<span class="name">Player 1</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
							<div class="line-v-d"></div>
							<div class="line-h2"></div>
							<div class="player  d-flex align-items-center" id="player2">
								<div class="main-core d-flex align-items-center"> 
									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 2" class="icon">
									<span class="name">Player 2</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
						</div>
						<div class="matchup d-flex align-items-start justify-content-between">
							<h1 class="group">Group B</h1>
							<div class="player  d-flex align-items-center" id="player3">
								<div class="main-core d-flex align-items-center">

									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 3" class="icon">
									<span class="name">Player 3</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
							<div class="line-v-d" style="top: 58px;"></div>
							<div class="line-h2"></div>
							<div class="player  d-flex align-items-center" id="player4">
								<div class="main-core d-flex align-items-center">
									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 4" class="icon">
									<span class="name">Player 4</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
						</div>
						<div class="matchup d-flex align-items-start justify-content-between">
							<h1 class="group">Group C</h1>
							<div class="player  d-flex align-items-center" id="player3">
								<div class="main-core d-flex align-items-center">
									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 3" class="icon">
									<span class="name">Player 5</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
							<div class="line-v-d" style="top: 58px;"></div>
							<div class="line-h2"></div>
							<div class="player  d-flex align-items-center" id="player4">
								<div class="main-core d-flex align-items-center">

									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 4" class="icon">
									<span class="name">Player 6</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
						</div>
						<div class="matchup d-flex align-items-start justify-content-between">
							<h1 class="group">Group D</h1>
							<div class="player  d-flex align-items-center" id="player3">
								<div class="main-core d-flex align-items-center">

									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 3" class="icon">
									<span class="name">Player 7</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
							<div class="line-v-d" style="top: 58px;"></div>
							<div class="line-h2"></div>
							<div class="player  d-flex align-items-center" id="player4">
								<div class="main-core d-flex align-items-center">

									<img src="{% static 'assets/icons/avatar.png' %}" alt="Player 4" class="icon">
									<span class="name">Player 8</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h"></div>
						</div>
					</div>
					<div class="round d-flex align-items-center justify-content-between round-2" style=" height:  905px;position: fixed;left: 489px;top: 82px;">
						<div class="matchup8 d-flex align-items-start justify-content-between">
							<div class="player  d-flex align-items-center" id="semi1">
								<div class="main-core d-flex align-items-center">
									<img src="" alt="Semi 1" class="icon">
									<span class="name">Group A Winner</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h" style="top: -128px;"></div>
							<div class="line-v-d" style="top: 29px; height: 276px;"></div>
							<div class="line-h2"  style="top: -57px;"></div>
							<div class="player  d-flex align-items-center" id="semi2">
								<div class="main-core d-flex align-items-center">
									<img src="" alt="Semi 2" class="icon">
									<span class="name">Group B Winner</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h" style="top: -128px;"></div>
						</div>
						<div class="matchup8 d-flex align-items-start justify-content-between">
							<div class="player  d-flex align-items-center" id="semi1">
								<div class="main-core d-flex align-items-center">
									<img src="" alt="Semi 1" class="icon">
									<span class="name">Group C Winner</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h" style="top: -128px;"></div>
							<div class="line-v-d" style="top: 29px; height: 276px;"></div>
							<div class="line-h2"  style="top: -57px;"></div>
							<div class="player  d-flex align-items-center" id="semi2">
								<div class="main-core d-flex align-items-center">
									<img src="" alt="Semi 2" class="icon">
									<span class="name">Group D Winner</span>
								</div>
								<div class="score2">
									<span class="score">0</span>
								</div>
							</div>
							<div class="line-h" style="top: -128px;"></div>
						</div>
					</div>
					<div class="round d-flex align-items-center justify-content-between round-3" style="position: absolute;left: 962px;">
						<div class="matchup d-flex align-items-start justify-content-between">
							<div class="player  d-flex align-items-center" id="final">
								<div class="main-core d-flex align-items-center">
									<img src="" alt="Final Winner" class="icon">
									<span class="name">Tournament Winner</span>
								</div>
								<div class="score2">
									<img src="{% static 'assets/icons/trophy.png' %}" style="width: 20px; height: 20px; margin: 0;" alt="Final Winner" class="icon">

								</div>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					</div>
				{% endif %}

			</div>
        </div>
    </div>
{% endblock %}
