{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script defer src="{% static 'js/login.js' %}"></script>
    <script defer src="{% static 'js/opt.js' %}"></script>
    <div class="login-container">
        <div class="login-container2">
            <h4 class="title"><img src="{% static 'assets/icons/42logosmall.png' %}"> My Website</h4>
            <form id="otpForm" method="POST" onsubmit="return submitOtp(event);">
                <div class="input-group">
                    <label for="otp">Code: </label>
                    <input type="text" id="otp" name="otp" placeholder="Please insert the code sent to your email" required>
                </div>
                <p id="errorMessage" class="error-message"></p>
                <p>If you didn't receive your code, please 
                    <a onclick="resend_code()" style="color: blue;">click here</a> to resend the code
                </p>
                <button type="submit">Confirm</button>
            </form>
            <br>
            <h6>© 42 Porto 2024</h6>
        </div>
    </div>
{% endblock %}
