{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <div class="main-content non_compressed"  id="main-content">
        <div class="main">
            {% if searched %}
                <h3 class="search-results">Search Results</h3>
                <div class="sub-results">
                    <h6 class="nbr-results">Your search for "{{ searched }}" has retrieved {{ numbers}} results.</h5>
                </div>
                <div class="search">
                    {% for users in userss %}
                        <div class="square">
                            <a class="square" href="{% url 'user-profile' users.username %}">
                                <img class="circular-image" src="{{ users.picture.url }}" alt="User Icon">
                                <h3 class="name">{{ users.username }}</h3>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}




