{% extends 'navs.html' %}
{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="main-content">
        {% if searched %}
            <h3>You searched for "{{ searched }}" </h3>
            <br/>
            {% for users in userss %}
                <a hx-get="{% url 'user_profile' users.username %}"
                       hx-trigger="click"
                       hx-target="#MainPage"
                       hx-swap="outerHTML">
                    <div class="side-profile">
                        <img class="profile-big" src="{{ users.picture.url }}" alt="User">
                        <h3 class="description"> {{ users.username }} </h3>
                        <h3 class="description"> {{ users.status }} </h3>
                    </div>
                </a>
                <br/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


