{% extends 'navs.html' %}
{% load static %}

   
{% block main_content %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
<script defer src="{% static 'js/tournament.js' %}"></script>
<script defer src="{% static 'js/websocket_tournament.js' %}"></script>
<div class="main-content non_compressed"  id="main-content">
    <div class="main">
        <div class="top">
            <div class="leaderboard">
                <div class="topic">
                    <img class="icon" src="{% static 'assets/icons/laurel.png' %}" alt="laurel">
                    <span class="icon-title3">Leaderboard</span>
                </div>
                <div class="results">
                    <div class="profile-winner">
                        <img  class="profile-pic2 first" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                        <div class="friend-info">
                            <h4 class="first2" >#1 Name</h4>
                            <span class="victories">x tournaments won</span>
                        </div>
                    </div>
                    <div class="profile-winner">
                        <img  class="profile-pic2 second" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                        <div class="friend-info">
                            <h4 class="second2" >#2 Name</h4>
                            <span class="victories">x tournaments won</span>
                        </div>
                    </div>
                    <div class="profile-winner">
                        <img  class="profile-pic2 third" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
                        <div class="friend-info">
                            <h4 class="third2" >#3 Name</h4>
                            <span class="victories">x tournaments won</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats">
                <div class="topic">
                    <img class="icon" src="{% static 'assets/icons/chart.png' %}" alt="chart">
                    <span class="icon-title3">Your Stats</span>
                </div>
                <div class="stats2">
                    <div class="stat podium">
                        <img  class="stat-img" src="{% static 'assets/icons/leaderboard.png' %}" alt="Current Rank">
                        <span class="under-title">Current Rank</span>
                        <span class="rank">1st</span>
                    </div>
                    <div class="stat played">
                        <img  class="stat-img" src="{% static 'assets/icons/pingpong-full.png' %}" alt="Nbr games">
                        <span class="under-title">Played Tournaments</span>
                        <span class="rank">190</span>
                    </div>
                    <div class="stat tournament-won">
                        <img  class="stat-img" src="{% static 'assets/icons/trophy.png' %}" alt="Nbr tournament">
                        <span class="under-title">Won Tournaments</span>
                        <span class="rank">11</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal2" class="m2">
            <div class="m-content">
                <span class="close">&times;</span>
                <h3 style="padding-top: 20px;">Create Tournament</h3>
                <div class="form-div">
                    <form id="create-tournament-form" method="POST">
                        {% csrf_token %}
                        <div class="new-tournament-modal" id="name-modal">
                            <label for="new-tournament-name">Tournament Name</label>
                            <input class="tournament-modal" type="text" id="new-tournament-name" name="tournament-name" required placeholder="Ex: Pong World Cup">
                        </div>
                        <div class="new-tournament-modal" id="nbr-modal">
                            <label for="numPlayers">No. of Players</label>
                            <select id="numPlayers" name="numPlayers" required>
                                <option value="4">4 Players</option>
                                <option value="8">8 Players</option>
                                <option value="16">16 Players</option>
                            </select>
                        </div>

                    </form>
                </div>

                <button style="margin-bottom: 10px;" class="change modal-button" id="create-tournament" onclick="getCreateTournament()" data-user-id="{{ user_id }}">
                    <span class="change-b" id="change">Create</span>
                </button>
                <button style="margin-bottom: 10px;" class="cancel modal-button" id="cancel-create-tournament">Cancel</button>
            </div>
        </div>

        <div class="bot">
            <div class="avail-tournaments">
                <div class="topic">
                    <img class="icon" src="{% static 'assets/icons/tournament.png' %}" alt="tournament">
                    <span class="icon-title3">Available Tournaments</span>
                </div>
                <div class="tournament-button">
                    <button class="tournament2" id="tournament-creater" onclick="onCreateButtonClick()">
                        <img class="button-tourn" src="{% static 'assets/icons/tournament-button.png' %}" alt="Button">
                    </button>
                </div>
            </div>
            <div class="tournament-avail">
                <div class="table-head">
                    <div class="table-title">Name</div>
                    <div class="table-title">Status</div>
                    <div class="table-title">Host</div>
                    <div class="table-title">Players registered</div>
                    <div class="table-title">Action</div>
                </div>
                {% for tournament, num_players in tournaments %}
                    <div class="table-content">
                        <div id="name" class="table-info">{{ tournament.name }}</div>
                        <div id="status" class="table-info status-tourn">{{ tournament.status }}</div>
                        <div id="host" class="table-info">{{ tournament.host_id }}</div>
                        <div id="player-nbr" class="table-info">{{ num_players }}/{{ tournament.capacity }}</div>
                        <div class="table-info">
                            {% if num_players < tournament.capacity %}
                            <button class="open-register-tournament-modal" data-tournament-id="{{ tournament.id }}">
                                <span class="change-b" id="change">
                                    Register
                                </span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="modal" class="m">
                <div class="m-content">
                    <span class="close">&times;</span>
                    <h3 style="padding-top: 20px;">Tournament Registration</h3>
                    <p>You're about to register in a tournament. PLease specify a nickname to use within the tournament</p>
                    <div class="form-div">
                        <form id="tournament-register-form" method="POST">
                            {% csrf_token %}
                            <label for="nickname-input">Tournament Nickname</label>
                            <input class="pass-input" type="text" id="nickname-input" name="nickname" required>
                            <p>No thanks, I'll use my username instead.</p>
                        </form>
                    </div>
    
                    <button style="margin-bottom: 10px;" class="change modal-button" id="registration" onclick="registerTournament()" data-tournament-id="{{ tournament.id }}" data-user-id="{{ user_id }}">
                        <span class="change-b" id="change">Confirm</span>
                    </button>
                    
                    <button style="margin-bottom: 10px;" class="cancel modal-button" id="cancel-registration-button">Go back</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
