{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
    <script defer src="{% static 'js/verifyemail.js' %}"></script>
    <div class="login-container d-flex">
        <div class="login-container2">
            <h4 class="title" ><img src="{% static 'assets/icons/42logosmall.png' %}"> My Website</h4>
            <h3 class="title" id="nice" >Welcome to our platform</h3>
            <form id="verifyForm" method="POST" onsubmit="return submitCode(event);">
                <label for="code" style="text-align: center;width: 100%;padding-bottom: 11px;">We've sent a code to your inbox, if you'd kindly go check it and put it here we would be so happy.</label>
                <div class="input-group">
                    <div class="code-input d-flex align-items-center">
                        <input type="text" maxlength="1" id="digit1" oninput="handleInput(this, 'digit2')" onpaste="handlePaste(event)" onkeydown="handleBackspace(event, this, null)">
                        <input type="text" maxlength="1" id="digit2" oninput="handleInput(this, 'digit3')" onkeydown="handleBackspace(event, this, 'digit1')" >
                        <input type="text" maxlength="1" id="digit3" oninput="handleInput(this, 'digit4')" onkeydown="handleBackspace(event, this, 'digit2')" >
                        <input type="text" maxlength="1" id="digit4" oninput="handleInput(this, 'digit5')" onkeydown="handleBackspace(event, this, 'digit3')" >
                        <input type="text" maxlength="1" id="digit5" oninput="handleInput(this, 'digit6')" onkeydown="handleBackspace(event, this, 'digit4')" >
                        <input type="text" maxlength="1" id="digit6" oninput="handleInput(this)" onkeydown="handleBackspace(event, this, 'digit5')" >
                    </div>
                    
                      <!-- Hidden input to store the full code -->
                      <input type="hidden" id="code" name="code" required>

                </div>
                <p>If you didn't receive your code, please 
                    <a class="resend" onclick="resend_code_email()" style="color: blue;">click here</a> to resend the code
                </p>
                <p id="errorMessage" class="error-message"></p>
                <button type="submit">Sign in</button>
            </form>
            <div class="bottom">
                <img class="divider" src="{% static 'assets/icons/divider.png' %}" width="100%">
                <h6>© 42 Porto 2024</h6>
            </div>
        </div>
        <div>
            <img style="
                width: 786px;
                height: 600px;
                border-radius: 0px 8px 8px 0px;
            " src="{% static 'assets/images/us.jpeg' %}" alt="">
        </div>
    </div>
{% endblock %}