{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/top-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/friend-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/friend-block.css' %}">
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/navs.js' %}"></script>
    <script src="{% static 'js/suggest_users.js' %}"></script>
    <script defer src="{% static 'js/friends.js' %}"></script>
    <script defer src="{% static 'js/friend-block.js' %}"></script>
    <script defer src="{% static 'js/edit-profile.js' %}"></script>
    <script defer src="{% static 'js/notifications.js' %}"></script>
    
    <main id="MainPage" style="padding: 70px;">
        {% block main_content %}
        {% endblock %}
    </main>
    {% if user.is_authenticated %}
        {% block top-bar %}
        <div class="top-bar">
            <form method="GET" action="{% url 'search-users' %}">
                <div class="search-container">
                    <input type="text" placeholder="Search for players..." name="searched" id="search" onkeyup="getSuggestions()">
                    <button type="submit" id="searchButton">
                        <img id="search-icon" src="{% static 'assets/icons/binoculars.png' %}">
                    </button>
                    <div id="suggestions" ></div>    
                </div>
            </form>
            <div class="top-right">
                <button style="background: none; border: none;" onclick="getNotifications()" data-user-id="{{ user.id }}">
                    <img class="bell-icon" src="{% static 'assets/icons/Doorbell.png' %}">
                </button>
                
                <!-- Popup Modal -->
                <div id="notificationModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <ul id="notificationList"></ul>
                    </div>
                </div>
            
                <div id="notifications" ></div>
                <a href="{% url 'user-profile' user.username %}">
                    <img class="profile-pic" src="{{ user.picture.url }}" alt="Profile">
                </a>
            </div>
            
        </div>
        {% endblock %}
        
        {% block side-menu %}
            <div class="left-div" id="left-div">
                <button class="select-item expandable-section" onclick="toggleLeftDiv()">
                    <img class="icon2" src="{% static 'assets/icons/logo2.png' %}" alt="Ping Pong">
                    <span class="icon-title2 bold">Pong Game</span>
                </button>
                <div class="selects">
                    <a href="{% url 'home' %}">
                        <button class="select-item">
                            <img class="icon" src="{% static 'assets/icons/pingpong.png' %}" alt="Ping Pong">
                            <span class="icon-title">Singles</span>
                        </button>
                    </a>
                    <a href="{% url 'tournaments' %}">
                        <button class="select-item">
                            <img class="icon" src="{% static 'assets/icons/tournament.png' %}" alt="Tournament">
                            <span class="icon-title">Tournament</span>
                        </button>
                    </a>
                    <a href="{% url 'user-profile' user.username %}">
                        <button class="select-item">
                            <img class="icon" src="{% static 'assets/icons/user.png' %}" alt="User">
                            <span class="icon-title">User</span>
                        </button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button class="select-item">
                            <img class="icon" src="{% static 'assets/icons/logout.png' %}" alt="logout">
                            <span class="icon-title">Logout</span>
                        </button>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block friend-bar %}
            <button class="toggle-button" id="toggle-button" onclick="toggleSidebar('{{user_id}}')">
                <img src="{% static 'assets/icons/puxador.png' %}">
            </button>
            <div class="sidebar" id="sidebar"></div>
        {% endblock %}
    {% endif %}
        

{% endblock %}