
<!--
{% extends 'friend-bar.html' %}
{% load static %}

{% block styles-friend-block %}
    <link rel="stylesheet" href="{% static 'css/friend-block.css' %}">
    <script src="{% static 'js/friend-block.js' %}"></script>
{% endblock %}

{% block friend-block %}
	<div class="friend-block" id="friend2" data-status="online">
        <img  class="profile-pic" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
        <div class="friend-info">
            <h4>User Name</h4>
            <span class="status">Status</span>
        </div>
    </div>
{% endblock %}
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../css/friend-block.css">
    <script defer src="../../../js/friend-block.js"></script>

    
</head>
<body>
    <div class="friend-block" id="friend2" data-status="online">
        <img  class="profile-pic" src="../../../assets/icons/avatar.png" alt="Profile">
        <div class="friend-info">
            <h4>User Name</h4>
            <span class="status">Status</span>
        </div>
    </div>
</body>
</html>
