{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Todo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block styles %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

         <!-- HTMX -->
        <script src="{% static 'js/htmx/htmx.min.js' %}"></script>
    </head>

    <body>
        <nav>
            <li 
                hx-get="{% url 'index'%}"
                hx-trigger="click"
                hx-target="#MainPage"
                hx-swap="outterHTML"
            >
                Index
            </li>
            
             <li 
                hx-get="{% url 'about'%}"
                hx-trigger="click"
                hx-target="#MainPage"
                hx-swap="outterHTML"
            >
                About
            </li>
            
             <li 
                hx-get="{% url 'contact'%}"
                hx-trigger="click"
                hx-target="#MainPage"
                hx-swap="outterHTML"
            >
                Contact
            </li>
        </nav>

        <main id="MainPage">
            #RENDERIZAÇÃO OCORRERÁ AQUI
        </main>
        <!-- CSRF_TOKEN -->
        <script>
            document.body.addEventListener('htmx:configRequest', (event) =>
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
            );
        </script>
    </body>
</html>

