
<!-- 
{% extends 'base.html' %}
{% load static %}

{% block styles-side %}
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
    <script src="{% static 'js/navs.js' %}"></script>
{% endblock %}

{% block side-menu %}
    <div class="left-div" id="left-div">
        <button class="select-item expandable-section" onclick="toggleLeftDiv()">
            <img class="icon2" src="{% static 'assets/icons/logo2.png' %}" alt="Ping Pong">
            <span class="icon-title2 bold">Pong Game</span>
        </button>
    	<div class="selects">
    		<button class="select-item">
                <img class="icon" src="{% static 'assets/icons/pingpong.png' %}" alt="Ping Pong">
                <span class="icon-title">Singles</span>
            </button>
            <button class="select-item">
                <img class="icon" src="{% static 'assets/icons/tournament.png' %}" alt="Tournament">
                <span class="icon-title">Tournament</span>
            </button>
            <button class="select-item" onclick="window.location.href='profile.html'">
                <img class="icon" src="{% static 'assets/icons/user.png' %}" alt="User">
                <span class="icon-title">User</span>
            </button>
            <button class="select-item logout-icon">
                <img class="icon" src="{% static 'assets/icons/logout.png' %}" alt="logout">
                <span class="icon-title">Logout</span>
            </button>
    	</div>
    </div>
{% endblock %}

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="../../css/side-menu.css">
    <link rel="stylesheet" href="../../css/top-bar.css">
    <script defer src="../../js/navs.js"></script>
</head>
<body>
    <div class="left-div" id="left-div">
            <button class="select-item expandable-section" onclick="toggleLeftDiv()">
                <img class="icon2" src="../../assets/icons/logo2.png" alt="Ping Pong">
                <span class="icon-title2 bold">Pong Game</span>
            </button>
		<div class="selects">
			<button class="select-item">
                <img class="icon" src="../../assets/icons/pingpong.png" alt="Ping Pong">
                <span class="icon-title">Singles</span>
            </button>
            <button class="select-item">
                <img class="icon" src="../../assets/icons/tournament.png" alt="Tournament">
                <span class="icon-title">Tournament</span>
            </button>
            <button class="select-item" onclick="window.location.href='profile.html'">
                <img class="icon" src="../../assets/icons/user.png" alt="User">
                <span class="icon-title">User</span>
            </button>
            <button class="select-item logout-icon">
                <img class="icon" src="../../assets/icons/logout.png" alt="logout">
                <span class="icon-title">Logout</span>
            </button>
		</div>
    </div>
</body>
</html>