
<!-- 
{% extends 'base.html' %}
{% load static %}

{% block styles-top %}
    <link rel="stylesheet" href="{% static 'css/top-bar.css' %}">
{% endblock %}

{% block top-bar %}
	<div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search for friends...">
			<button type="button" id="searchButton">
				<img id="search-icon" src="{% static 'assets/icons/binoculars.png' %}">
			</button>
        </div>
        <div class="top-right">
            <img class="bell-icon" src="{% static 'assets/icons/Doorbell.png' %}">
            <img  class="profile-pic" src="{% static 'assets/icons/avatar.png' %}" alt="Profile">
        </div>
    </div>
{% endblock %}

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../css/top-bar.css">
</head>
<body>
	<div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search for friends...">
			<button type="button" id="searchButton">
				<img id="search-icon" src="../../assets/icons/binoculars.png">
			</button>
        </div>
        <div class="top-right">
            <img class="bell-icon" src="../../assets/icons/Doorbell.png">
            <img  class="profile-pic" src="../../assets/icons/avatar.png" alt="Profile">
        </div>
    </div>
</body>
</html>