.friend-block {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1A3141;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.friend-block:hover {
    background-color: #e0e0e07c;
    transform: scale(1.02);
}

.friend-block .profile-pic {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.friend-block h4 {
    margin: 0;
    font-size: 1.2em;
    color: #FFFFFF;
}


.friend-block .status {
    font-size: 0.8em;
    color: #666;
}

.friend-block .status::before {
    content: '';
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 5px;
    background-color: currentColor;
}

/* Status colors */
.friend-block1[data-status="online"] {
    color: #05FF00;
}

.friend-block1[data-status="offline"] {
    color: #929292;
}

.friend-block1[data-status="playing"] {
    color: #E65C19;
}
