.friend-block {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1A3141;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.friend-block:hover {
    background-color: #e0e0e07c;
    transform: scale(1.02);
}

.friend-block .profile-pic {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.friend-info {
    display: flex;
    flex-direction: column;
}

.friend-info h4 {
    margin: 0;
    font-size: 1.2em;
    color: #FFFFFF;
}

.friend-block1 {
    font-size: 0.8em;
    color: #666;
    display: inline-flex;
    align-items: center;
}

/* Orb Styling */
.friend-block1::before {
    content: '';
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}

/* Empty orb for offline */
.friend-block1[data-status="offline"]::before {
    border: 1px solid #929292; /* Empty orb */
    background-color: transparent;
}

/* Circle with a center for online */
.friend-block1[data-status="playing"]::before {
    background: radial-gradient(circle, #F8D082 40%, transparent 41%);
    border: 1px solid #F8D082;
}

/* Full orb for playing */
.friend-block1[data-status="online"]::before {
    background-color: #05FF00; /* Full orb */
    border: 1px solid #05FF00;
}

/* Status colors */
.friend-block1[data-status="online"] {
    color: #05FF00;
}

.friend-block1[data-status="offline"] {
    color: #929292;
}

.friend-block1[data-status="playing"] {
    color: #F8D082;
}
