
.match-block {
    width: 98%;
    margin: 10px;
    border-radius: 8px;
    background-color: #1A3141;
    margin-bottom: 0;
}

.header {
    padding-left: 40px;
    width: calc(98% - 55px);
    float: right;
    margin-right: 1.5%;

}

.header .title {
    color: #f2f2f269;
    width: 20%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.date-second {
    color: #ffffffc0;
    font-size: small;
}

.placement {
    font-weight: bold;
}

.victory {
    color: #F8D082;
}
.match-block .icon {
    padding: 10px 10px 10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px;
    height: 100%;
    overflow: visible;
    z-index: 10;


}
.match-block .icon img,
.match-block .opponent img {
    width: 40px;
    height: 40px;
}

.details {
    border-radius: 8px;
    flex: 1;
    height: 64px;
    z-index: 100;
    background-color: #28313a;
    color: #FFF;
    padding-left: 40px;
}

.details .content {
    width: 20%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.details .last {
    height: 40px;
    display: flex;
    align-items: center;
	justify-content: space-between;
    padding-right: 40px;
}

.match-block .details .type {
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

.toggle-details {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.last a {
    text-decoration: none;
    color: inherit;
}

.last img {
    margin-right: 10px;
}

.match-container{
    border-radius: 8px;
    flex: 1;
    height: 64px;
    z-index: 100;
    background-color: #28313a;
    color: #FFF;
    padding-left: 40px;
}

.match-block2 {
    background-color: #1A3141;
    margin-bottom: 1px;
}

.header2 {
    margin-bottom: 1px;

}

.header2 .title {
    color: #f2f2f269;
    background-color: #28313a;
    width: 20%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.enlarged {
    background: none !important;
}

.enlarged2 {
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
    margin-bottom: 1px;
}