.match-block {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    background-color: #1B3E40;
}

.match-block.tournament.third-place .details .result {
    color: #E65C19;
}

.match-block.tournament.below-third-place .details .result {
    color: grey;
}

.match-block.pingpong.victory .details .result {
    color: green;
}

.match-block.pingpong.defeat .details .result {
    color: red;
}

.match-block .icon {
    padding: 10px 10px 10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    margin: 0px;
    height: 100%;
    overflow: visible;
    z-index: 10;


}
.match-block .icon img,
.match-block .opponent img {
    width: 40px;
    height: 40px;
}

.match-block .details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 1;
    height: 64px;
    left: -15px;
    z-index: 100;
}

.match-block .details .type {
    font-weight: bold;
}

.match-block .details .result {
    margin-top: 5px;
}

.match-block .opponent {
    margin-left: 10px;
}