/* The Modal (background) */
.m {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* m Content */
.m-content {
    min-width: 380px;
    position: relative;
    background-color: #1D2731;
    margin: auto;
    margin-top: 37vh;
    padding: 20px;
    border: 1px solid #336181;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
	font-size: small;
}

.m-content h3 {
	/*padding-top: 20px;
	padding-left: 10px;*/
	text-align: left;
	color: #F2F2F2;
	font-size: large;
	font-weight: bold;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

.side-profile button, #cancel-create-tournament, #create-tournament, #registration, #cancel-register-tournament, #leaver, #cancel, #confirm-btn, #cancel-change-password-button, #change-password {
    margin-top: 10px;
	margin-bottom: 0;
    padding: 10px;
    color: #fff;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #1A3141;
    width: 160px;
	height: 40px;
}

.new-tournament-modal {
    flex-direction: column;
}

#name-modal {
    width: inherit;
    padding-right: 1vw;
}

#nbr-modal {
    width: 200px;
}

#create-tournament, #confirm-btn {
    background-color: #1A3141;
}

#confirm-btn {
	width: 200px;
}

#create-tournament:hover, #confirm-btn:hover, #registration:hover {
    background-color: #2c536e;
}


#leaver {
	background-color: #F8D082;
	color: #A48955;
    font-weight: bold;
}

#leaver:hover {
	background-color: #ffeeaa;
}

#cancel-create-tournament, #cancel-register-tournament, #cancel {
    background-color: #1D2731;
}

#cancel-create-tournament:hover, #cancel-register-tournament:hover, #cancel:hover {
    background-color: #FFFFFF55;
}

.cancel {
	font-weight: bold;
}

#create-tournament-form, #tournament-register-form {
	flex-direction: column;
    color: #F2F2F2;
    width: 100%;
    
}

.create-tournament-form, .m-content p {
    color: #F2F2F2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.m-content p {
	font-weight: inherit;
	padding-top: 5px;
    padding-bottom: 0;
}

.m-content label {
	display: flex;
    align-self: baseline;
	padding-bottom: 3px;
}

.tournament-modal, #numPlayers, .pass-input, #nick-denial {
    background-color: #101d27;
    width: 99%;
    border-radius: 5px;
    border: none;
    color: #F2F2F2;
    height: 30px;
}

#nick-confirm {
	padding-top: 10px;
	align-items: flex-start;
	height: 30px;
}

.nickname1 {
	text-align: left;
}

#nick-denial {
	background: none;
	text-align: left;
	padding: 0;
	font-weight: initial;
	font-size: xx-small;
	padding-left: 5px;
}

#checkmark {
	border-radius: 5px;
	width: 15px;
	height: 15px;
	border: none;
	background-color: #F8D082;
	color: #1D2731;
	font-size: large;
	display: flex; 
    justify-content: center; 
    align-items: center;
}

#cancel-registration-button {
    background-color: #1D2731;
}

#registration{
    background-color: #1A3141;

}
