.m-content2 {
	position: absolute;
	animation-name: none;
  	animation-duration: 0;
	min-width: 380px;
	background-color: #1D2731;
	margin: auto;
	margin-top: auto;
	margin-top: 37vh;
	padding: 20px;
	border: 1px solid #336181;
	border-radius: 5px;
	width: 20%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: small;
	z-index: 10000;
}

#inner-modal{
	position: absolute; 
    top: -29%;             
    right: 0; 
	overflow: hidden;
	height: 230px;
	overflow-y: scroll;
	padding: 5px;
}

#inner-modal h4 {
	font-size: small;
	margin-bottom: 8px;
}

#inner-modal button {
	font-size: smaller;
}

.notif-li {
    display: flex;
    color: #F2F2F2;
    align-items: center;
	height: 105px;
}

#notificationList {
	margin-bottom: 0;
	padding-left: 0;
	width: 95%;
}

#notificationList li:not(:last-child) {
    border-bottom: 1px solid grey; 
}

.time-text-button {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    height: 100px;
	width: 236px;
}

.timestamp {
    color: grey;
	padding-bottom: 4px;
}

.profile-pic-notif {
    width: 50px;
    height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.name-notif {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.name-notif:hover {
	cursor: pointer;
}


    font-size: larger;
}*/

#inner-modal .close {
	font-weight: bold;
	color: gray;
	position: relative;
    right: -30px;
}

#inner-modal .close:hover {
	cursor: pointer;
}

.button-notif {
    color: #F2F2F2;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

#accept {
    background-color: #1A3141;
    border: none;
	margin-right: 5px;
	height: 26px;
}

#accept:hover {
	background-color: #2c536e;
}

#decline {
    background-color: #1D2731;
    border: none;
	height: 26px;
}

#decline:hover {
	background-color: #FFFFFF55;
}