.tourn-header {
    color: #f2f2f2;
    padding-top: 5vh;
    min-width: 1750px;
    height: 100px;

}

.tourn-info {
	position: absolute;
  	left: 50%;
	color: #f2f2f2;
	transform: translate(-50%);
}

.tourn-status {
	color: #8E8E8E;
	font-size: medium;
}

.all-groups {
	top: 50%;
  	position: absolute;
  	transform: translate(0,-50%);
    width: 70%;
}

.round {
    flex-direction: column;
    width: 260px;
    position: relative;
}

.matchup {
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    height: inherit;
}

.matchup8 {
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    height: 428px;
}
.group {
    color: white;
    font-size: large;
}
.player {
    background-color: #1A3141;
    color: #8E8E8E;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
    height: 50px;
    margin-bottom: 50px;
}

.main-core {
    background-color: #13232e;
	width: 225px;
    height: 52px;
    border-radius: 8px;
}

.icon {
    height: 40px;
    margin-right: 10px;
	margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    object-fit: cover;
}

.name {
    flex-grow: 1;
    font-weight: bold;
}

.score2 {
    padding: 10px;
    height: inherit;
    border: 10px;

}
.score {
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}

.line-h {
    position: relative;
    width: 113px;
    height: 4px;
    background-color: #ccc;
    left: 98%;
    z-index: -1;
    transition: background-color 0.3s ease;
    top: -77px;
}

.line-v-d {
    position: absolute;
    width: 4px;
    height: 58px;
    background-color: #ccc;
    left: 140%;
    top: 57px;
}

.u {
    position: absolute;
    width: 4px;
    height: 52px;
    background-color: #ccc;
    left: 140%;
    top: 58px;
}

.d {
    position: absolute;
    width: 4px;
    height: 61px;
    background-color: #ccc;
    left: 140%;
    top: 112px;
}
.line-h2 {
    position: relative;
    width: 50%;
    height: 4px;
    background-color: #ccc;
    left: 140%;
    z-index: -1;
    transition: background-color 0.3s ease;
    top: -29px;
}

.round-1 .matchup .line {
    top: 25%;
}

.round-2 .matchup .line {
    top: 25%;
}

.round-3 .matchup .line {
    top: 50%;
    height: 50%;    
}

#game-canvas {
	display: none;
}

.winner-score-container {
	background-color: #F8D082;
    border-radius: 0px 8px 8px 0px;
	transition: all 0.3s ease;
}

.winner-score {
	color: #A48955;
	transition: all 0.3s ease;
}

.winner-player, .winner-path {
	background-color: #F8D082;
	transition: all 0.3s ease;
}

.loser-player {
	opacity: 50%;
	transition: all 0.3s ease;
}

.loser-path {
	background-color: #888888;
	transition: all 0.3s ease;
}
