
.side-profile {
    flex-direction: column;
    width: 15vw; /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
	min-width: 360px;
}

.side-profile img.profile-big {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#change-info2 {
    width: inherit;
    font-size: small;
    color: #f2f2f2;
    /*color:#c3c3c3bb;*/
	min-width: inherit;
}

.side-profile .description {
    text-align: center;
    margin-top: 10px;
}

#description-form{
    width: inherit;
    display: none;
}

textarea, #username-input, #email-input {
    width: 100%;
    border-radius: 5px;
    background-color: #101d27;
    border: none;
    color: white;
}

.description{
    width: inherit;
}

.user-description {
    display: inline;
    vertical-align: middle;
    margin: 10px;
	overflow-y: scroll;
	text-overflow: ellipsis;
	max-height: 200px;
	text-align: justify;
	
}

.text-block{
    font-size: small;
    margin: 0;
}

.email-joined-edit {
    padding-top: 5px;
    padding-bottom: 5px;
}


.edit-change, .save-cancel {
    display: flex;
    align-items: center;
    width: 360px;
    justify-content: space-around;
	height: 52.3px;
}

/*#edit-profile-form{
    width: 100%;
}*/

.side-profile button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #1A3141;
    width: 170px;
}

.edit, #save-profile-button {
    background-color: #1A3141;
}

.small-icon {
	width: 18px;
	height: 17px;
	padding-right: 5px;
}

.friends {
	width: 16px;
	height: 15px;
	padding-right: 5px;
}

#open-change-password-modal, #cancel-edit-button, .friend-status {
    background-color: #1D2731;

}

#change-password {
    background-color: #1A3141;

}

#cancel-change-password-button {
    background-color: #1D2731;
	border: none;
}

#change-password-form {
    flex-direction: column;
    color: #f2f2f2;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 16px;
    
}
#change-password-form label {
    padding-top: 6px;
}

.pass-input {
    background-color: #101d27;
    width: 99%;
    border-radius: 5px;
    border: none;
	color: #c3c3c3bb;
}

.stats-history {
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.stats {
    flex-direction: column;
    margin-bottom: 20px;
    color: #FFFFFF;
    padding: 20px;
}

.topic {
    margin-bottom: 20px;
}

.topic .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.stats2 {
    flex-direction: column;
    
}

.percentages {
    margin-bottom: 20px;
}

.stats-head {
    width: 100%;
}

.stat {
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.graph1, .graph2, .graph3, .graph4 {
    width: 15vw;
    height: 100px;
    margin-left: 10px;
    background-color: #101d27; /* Light gray background for graphs */
    border-radius: 10px;
}

.stats-title {
    color: #c3c3c3bb;
}

.graph-title {
    font-size: smaller;
    color: #c3c3c3bb;
}

.winr, .graph-value {
    font-weight: bold;
    color: #F8D082;
}

.numbers-stat{
    flex-direction: column;
}

.numbers-stat h4 {
    margin: 0;
}

.graph-img {
    max-width: 50%;
    max-height: 50%;
}

#games{
    height: 260px;
    overflow-y: scroll;
}

#tournaments{
    overflow-y: scroll;
    height: 260px;
}

#match-container {
	width: inherit;
}

#togglePassword, #togglePassword2, #togglePassword3 {
	position: relative;
  	right: 30px;
  	top: -4%;
  	background: none;
  	border: none;
  	cursor: pointer;
  	padding: 0;
}