#main-wrapper {
    width: 100%;
    gap: 20px;
    /*height: inherit;*/
    /*overflow: visible;*/
}

#profile-main {
    /*width: 30%; */
    flex-shrink: 0;
    width:initial;
    padding-top: 80px;
}

.side-profile {
    flex-direction: column;
    width: 15vw; /* Adjust width as needed */
    padding: 20px;
    border-radius: 8px;
    color: #FFFFFF;
	min-width: 360px;
}

.side-profile img.profile-big {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	object-fit: cover;
}

#change-info2 {
    width: inherit;
    font-size: small;
    color: #f2f2f2;
	min-width: inherit;
}

.side-profile .description {
    text-align: center;
    margin-top: 10px;
}

#description-form{
    width: inherit;
    display: none;
}

textarea, #username-input, #email-input {
    width: 100%;
    border-radius: 5px;
    background-color: #101d27;
    border: none;
    color: white;
}

.description{
    width: inherit;
}

.user-description {
    display: inline;
    vertical-align: middle;
    margin-block: 10px;
	overflow-y: scroll;
	text-overflow: ellipsis;
	max-height: 200px;
	text-align: center;
    overflow-x: hidden;
    width: 100%;
}

.text-block{
    font-size: small;
    margin: 0;
}

.email-joined-edit {
    padding-top: 5px;
    padding-bottom: 5px;
}

.edit-change, .save-cancel {
    width: 360px;
	height: 52.3px;
	
}


.side-profile button {
    padding: 10px 20px;
    width: 170px;
}

.edit, #save-profile-button {
    background-color: #1A3141;
}

.edit:hover, #save-profile-button:hover  {
	background-color: #2c536e;
}

.small-icon {
	width: 17px;
	height: 17px;
	padding-right: 5px;
}

.friends {
	width: 16px;
	height: 15px;
	padding-right: 5px;
}

#open-change-password-modal, #cancel-edit-button, .friend-status {
    background-color: #1D2731;
}

#decline-friend-button {
	background-color: transparent;
}

#change-password, #accept-friend-button {
	background-color: #1A3141;
}

#change-password:hover, #accept-friend-button:hover {
	background-color: #2c536e;
}

#cancel-change-password-button {
    background-color: #1D2731;
	border: none;
}

#open-change-password-modal:hover, #cancel-edit-button:hover, #cancel-change-password-button:hover,
	#decline-friend-button:hover {
	background-color: #FFFFFF55;
}

#change-password-form {
    flex-direction: column;
    color: #f2f2f2;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 16px;
    
}
#change-password-form label {
    padding-top: 6px;
}

.pass-input {
    background-color: #101d27;
    width: 99%;
    border-radius: 5px;
    border: none;
	color: #c3c3c3bb;
    flex-shrink: 0;
}

#tabs {
    width: 80%; 
    padding-top: 30px;
    min-width: 900px;
}

.my-nav-tabs {
    padding-left: 10vw;
}

#tabs .my-nav-tabs {
    margin-bottom: 20px;
    border-bottom: none;
}

#tabs .nav-item .nav-link {
    display: inline-block;
    cursor: pointer;
    color: #c3c3c3bb;
}

.nav-item {
    padding: 10px;
}
#tabs .nav-item .nav-link.active {
    color: #f8f9fa;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 2px solid #F8D082;
}

.stats-history {
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.stats {
    flex-direction: column;
    margin-bottom: 20px;
    color: #FFFFFF;
    padding: 20px;
}

.topic {
    margin-bottom: 20px;
}

.topic .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.stats2 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.profile-head {
    height: 40%;
    min-height: 266px;
}

.percentages {
    margin-bottom: 20px;
}

.stats-head {
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 5px;

}

.two-joined {
    height: 50%;
}
.stat {
    text-align: center;
    padding: 10px;
    width: 49%;
    border-radius: 8px;
    background-color: #ffffff0C;
    border: 1px solid #ffffff2a;
    
}

.donut {
    border-radius: 8px;
    background-color: #ffffff0C;
    border: 1px solid #ffffff2a;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 5px;
    

}

.profile-foot {
    width: 100%;
    height: 60%;
    margin-top: 10px;
}

.bar-graphs {
    border-radius: 8px;
    background-color: #ffffff0C;
    border: 1px solid #ffffff2a;
    width: 65%;
    height: 100%;
    margin: 5px;
}

.records {
    margin: 5px;
    border-radius: 8px;
    background-color: #ffffff0C;
    border: 1px solid #ffffff2a;
    width: 35%;
    height: 100%;

}

.record-info {
    width: 100%;
    padding: 20px;
    padding-bottom: 5px;
}

.record-info-tit {
    height: 35px;
    text-align: left;
    padding-left: 5px;

}

.img-tit {
    flex-direction: row;
}

.img-tit img {
    width: 25px;
    height: 25px;
}

.record-tit {
    color: #FFFFFF;
    font-size: small;
    margin-bottom: 0;
}

.record-date {
    color: #ffffff83;
    font-size: x-small;

}

.graph1, .graph2, .graph3, .graph4 {
    width: 15vw;
    height: 100px;
    margin-left: 10px;
    background-color: #101d27; /* Light gray background for graphs */
    border-radius: 8px;
}

.stats-title {
    color: #c3c3c3bb;
    font-size: x-small;
}

.icon-stat {
    height: 30px;
    width: 30px;
}

.graph-title {
    align-self: flex-start;
    padding: 20px;
    font-size: x-large;
    padding-bottom: 5px;
}

.winr, .graph-value {
    font-weight: bold;
    color: #F8D082;
    font-size: x-large;
}

.numbers-stat{
    flex-direction: column;
}

.numbers-stat h4 {
    margin: 0;
}

.graph-img {
    max-width: 50%;
    max-height: 50%;
}

#games, #tournaments{
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}


#match-container {
	width: inherit;
}

#togglePassword, #togglePassword2, #togglePassword3 {
	position: relative;
  	right: 30px;
  	top: -4%;
  	background: none;
  	border: none;
  	cursor: pointer;
  	padding: 0;
}

.tournament-details {
    width: 98%;
    margin-left: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 252px;
    overflow-y: scroll;
}

.apexcharts-legend-text {
    font-family: inherit;
    padding-left: 25px;
}

#chart1 {
    display: flex;
    align-items: center;
}

.apexcharts-datalabel-label, 
.apexcharts-datalabel-value {
    fill: #fff !important;
}

#chart2 {
    width: 100%;
}


 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 20px;

  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #cccccc4d;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 0px;
    background-color: #ffffffd3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F8D082;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    height: 20px;
    width: 42px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 