body {
    font-family: 'Fira Sans', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #1A3141;
}

::-webkit-scrollbar-thumb {
	background-color: #F8D082;
	border-radius: 6px;
	border: 1px solid #1A3141;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #F8D082;
}
  
