.search {
    flex-direction: row;
    flex-wrap: wrap; 

}
.square {
    margin: 5px;           
	padding: 8px;
    flex-direction: column; 
    text-decoration: none;
    color: #f2f2f2;
	margin-right: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.square:hover {
    cursor: pointer;
    background-color: #e0e0e07c;
    transform: scale(1.002);
}

.name {
	font-weight: inherit;
    font-size: inherit;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.search-results {
    font-weight: bolder;
    text-align: left;
}

.search-results, .nbr-results {
    color: #f2f2f2;
}

.nbr-results {
	font-weight: inherit;
}
.sub-results {
    flex-direction: row;
    margin-bottom: 20px;
	padding-top: 10px;
}

.circular-image {
    width: 100px;          
    height: 130px;         
	object-fit: cover;
    display: block;       
	margin-bottom: 8px;
}
