body {
    background-color: #1A3141;
}
.left-div {
    height: 100vh;
    background-color: #1A3141;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    width: 70px; /* Expanded width */
    transition: filter 0.3s ease;
}

.left-div.expanded {
    width: 200px; /* Expanded width */
}

.left-div .expandable-pic {
    margin-bottom: 10px; /* Add margin to separate from selects */
}

.left-div .selects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-top: 20vh;
    width: 100%;
    margin-left: 20px;
}

.select-item {
    display: flex;
    align-items: center;
    margin-top: 35px;
    border: none;
    background-color: #1A3141;
    cursor: pointer;
    width: 100%;
}

.expandable-section {
    margin-top: 0px;
}

.icon-title {
    display: none;
    margin-left: 30px;
    color: #FFFFFF;
}

.side-menu_a {
    text-decoration: none;

}
.icon-title2 {
    display: none;
    margin-left: 10px;
    color: #FFFFFF;
}

.left-div .icon {
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
    margin: 5px 0; /* Vertical margin between icons */
}

.left-div .icon2 {
    width: 50px; /* Adjust icon size as needed */
    height: 50px;
    margin: 5px 0; /* Vertical margin between icons */
}

.left-div.expanded .icon-title {
    display: inline;
    font-size: large;
}

.left-div.expanded .icon-title2 {
    display: inline;
    font-size: large;
    font-weight: bold;
}

.left-div .logout-icon {
    margin-top: auto; /* Push the logout icon to the bottom */
    margin-bottom: 90px;
    
}

.expandable-pic {
    width: 100px;
    cursor: pointer;
}

.main-content {
	background-color: #1D2731;
    border-top: 1px solid #336181;
    border-left: 1px solid #336181;
    border-top-left-radius: 10px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 70px;
    display: flex;
    position: fixed;
    justify-content: center;
	align-items: center;
    text-align: center;
    transition: filter 0.3s ease;
}

.non_compressed {
	margin-left: 70px;

}

.compressed {
    margin-left: 200px;
}
.main {
    width: 90vw;
}

.icon {
    height: 32px;
}

h3 {
    margin: 0;
    color: #E65C19;
    padding: 0; /* Ensure no padding */
}

p {
    color: #FFFFFF;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
	width: 25vw;
}

h2 {
    margin-bottom: 0px;
	font-weight: bold;
    color: #FFFFFF;
}

/*h6 {
    padding-top: 60px;
	font-weight: bold;
    color: #FFFFFF;
}*/