.top {
    flex-direction: row;
    margin-bottom: 20px;
}


.leaderboard {
    flex-direction: column;
    flex-grow: 1;
    padding-right: 5vw;
}

.stats {
    flex-direction: column;
}

.stats2 {
    height: 127px;
    min-width: 401px;
}

.stat {
    flex-direction: column;
    background-color: #ffffff05;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 127px;
    width: 127px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stat-img {
    width: 36px;
    height: 36px;
}
.under-title {
    color: #D9D9D9;
    font-size: small;
}
.rank {
    font-size: larger;
    font-weight: bolder;
    color: #F8D082;
}


.results {
    background-color: #ffffff05;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 127px;
	width: 100%;
	min-width: 460px;
}

.profile-winner {
    padding: 15px;
	height: inherit;
	width: 10vw;
	min-width: 140px;
}

.profile-pic2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.first {
    border: 2px solid #DBB635;
}
.first2 {
    color: #DBB635 !important;
	overflow: hidden;
}

.second {
    border: 2px solid #D9D9D9;
}
.second2 {
    color: #D9D9D9 !important;
	overflow: hidden;
}

.third {
    border: 2px solid #AC5024;
}
.third2 {
    color: #AC5024 !important;
	overflow: hidden;
}

.friend-info h4 {
    margin: 0;
	white-space: nowrap;
	padding-top: 13px;
}

.numbers {
    color: #ffffff05;
}

#nbr2 {
    padding-right: 67%;
}

#nbr3 {
    padding-left: 67%;
}

.friend-info .victories {
    margin: 0;
    font-size:small;
    color: #D9D9D9;
	white-space: nowrap;

}

.icon-title3 {
    margin-left: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.topic {
    margin-bottom: 10px;
}

.tournament-button .tournament2 {
    background: none;
    border: none;
    cursor: pointer;
}

.button-tourn {
    width: 200px;
}
.tournament-avail {
    flex-direction: column;
}

.table-head {
    color: #8C8C8C;
    padding: 15px;
}

.table{
    overflow-y: scroll;
	overflow-x: hidden;
    height: 300px;
}

.table-content {
    background-color: #ffffff05;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 10px;
    height: 60px;
}

.table-title {
	padding-left: 25px;
	width: 20%;
    font-weight:bold;
    text-align: left;
}

.table-info2 {
	padding-left: 25px;
    color: #F2F2F2;
	width: 20%;
    text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.status-ongoing {
    color: #6CFFED;
	font-weight: bold;
}

.status-open {
    color: #B6FF6C;
	font-weight: bold;
}

.status-closed {
    color: #FF4F28;
	font-weight: bold;
}

.open-register-tournament-modal {
    border: none;
    background-color: #ffffff05  !important;
    color: #F2F2F2  !important;
	font-weight: bold;
	padding: 0% !important;
}
