.top {
    flex-direction: row;
    margin-bottom: 20px;
}


.leaderboard {
    flex-direction: column;
    flex-grow: 1;
    padding-right: 5vw;
}

.stats {
    flex-direction: column;
}

.stats2 {
    height: 127px;
    min-width: 401px;
}

.stat {
    flex-direction: column;
    background-color: #101d27;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 127px;
    width: 127px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stat-img {
    width: 36px;
    height: 36px;
}
.under-title {
    color: #D9D9D9;
    font-size: small;
}
.rank {
    font-size: larger;
    font-weight: bolder;
    color: #F8D082;
}


.results {
    background-color: #101d27;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 127px;
    width: 50vw;
	min-width: 460px;
}

.profile-winner {
    padding: 15px;
}

.profile-pic2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.first {
    border: 2px solid #DBB635;
}
.first2 {
    color: #DBB635;
}

.second {
    border: 2px solid #D9D9D9;
}
.second2 {
    color: #D9D9D9;
}

.third {
    border: 2px solid #AC5024;
}
.third2 {
    color: #AC5024;
}

.friend-info h4 {
    margin: 0;
}

.numbers {
    color: #101d27;
}

#nbr2 {
    padding-right: 67%;
}

#nbr3 {
    padding-left: 67%;
}

.friend-info .victories {
    margin: 0;
    font-size:small;
    color: #D9D9D9;

}

.icon-title3 {
    margin-left: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.topic {
    margin-bottom: 10px;
}

.tournament-button .tournament2 {
    background: none;
    border: none;
    cursor: pointer;
}

.button-tourn {
    width: 200px;
}
.tournament-avail {
    flex-direction: column;
}

.table-head {
    color: #8C8C8C;
    padding: 15px;
}

.table{
    overflow-y: scroll;
	overflow-x: hidden;
    height: 300px;
}

.table-content {
    background-color: #101d27;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 10px;
    height: 60px;
}
.table-title {
    width: 6vw;
    font-weight:bold;
    text-align: left;
}
.table-info2 {
    color: #F2F2F2;
    width: 6vw;
    text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
}

.table-info2:hover::after {
	content: attr(data-full-text);       /* Display the full text stored in the title attribute */
	position: absolute;
	top: 100%;                  /* Position below the container */
	left: 0;
	background-color: #fff;     /* Background color for the hover tooltip */
	padding: 5px;
	border: 1px solid #ddd;     /* Optional border */
	white-space: nowrap;        /* Prevent wrapping in tooltip */
	z-index: 10000;                 /* Make sure the tooltip appears above other content */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for tooltip */
	border-radius: 4px;         /* Rounded corners for tooltip */
  }
.status-ongoing {
    color: #6CFFED;
}

.status-open {
    color: #B6FF6C;
}

.status-closed {
    color: #FF4F28;
}

.open-register-tournament-modal {
    border: none;
    background-color: #101d27  !important;
    color: #F2F2F2  !important;
	font-weight: bold;
	padding: 0% !important;
}
